<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Bootstrap 5 &amp; WebPack 5 Boilerplate</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

<!--NavBar-->
<%- include ('./partials/_navbar.ejs')%>

<!-- Header Section -->
<section class="header-section slide-in-right">
    <div class="container">
        <div class="row justify-content-center align-items-center fullHeight">
            <div class="col-md-8">
                <h1>Contact Page</h1>
            </div>
        </div>
    </div>
</section>

<!-- Content Section -->
<section class="content-section">

</section>

<!-- Footer -->

<script src="js/main.js"></script>
</body>
</html>
